body {
  background-color: #1a191f;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header-logo {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

.header-search {
  padding: 8px;
  border-radius: 2px solid #1a191f;
  outline: none;
}
/* FILM */
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie_cover-inner {
  position: relative;
  height: 360px;
}

.movie-cover {
  max-width: 100%;
  height: 100%;
}

.movie-cover-dark{ 
  background-color: #000;
  opacity: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie-cover-dark:hover {
  background-color: grey;
  cursor: pointer;
}

.movie-info {
  padding: 10px 0px;
}

.movie-title {
  font-size: 16px;
  color: #fff;
}

.movie-category {
  font-size: 14px;
  color: #ffd80e;
}

.movie_average {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #fff;
  font-size: 14px;
}

.movie-average-green {
  border: 1px solid green;
}

.movie-average-orange {
  border: 1px solid orange;
}

.movie-average-red {
  border: 1px solid red;
}